<section class="todoapp">
  <section>
    <button (click)="undo()" [disabled]="!this.todoListService.hasUndos()" class="manage-undo-redo">↶</button>
    <button (click)="redo()" [disabled]="!this.todoListService.hasRedos()" class="manage-undo-redo">↷</button>
  </section>
  <header class="header">
    <app-todolist-title *ngIf="this.todoListService.observable|async as todoList" [title]="todoList.label" (updateEmitter)="updateTodolistTitle($event)"></app-todolist-title>
    <form (submit)="addTodo()">
      <input  [(ngModel)]= "todoInputValue"
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            id="toggleAll"
            (click)="toggleAll()"
    />.
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list" *ngIf="this.todoListService.observable|async as todoList">
      <div *ngFor="let todo of todoList.items">
        <app-todo-item *ngIf="currentFilter(todo)" [todo]="todo" (deleteEmitter)="deleteTodo($event)" (updateEmitter)="updateTodo($event, todo)"></app-todo-item>
      </div>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count" *ngIf="todoListService.observable|async as todoList">
      <strong>{{getTodoRemainsNumber(todoList.items)}}</strong>
      restantes</span>
    <ul class="filters">
      <li>
        <a (click)="currentFilter = filterAll" class="filterAll">Tous</a>
      </li>
      <li>
        <a (click)="currentFilter = filterActives" class="filterActives">Actifs</a>
      </li>
      <li>
        <a (click)="currentFilter = filterInactives" class="filterCompleted">Complétés</a>
      </li>
    </ul>
    <button (click)="removeAllDoneItems()" class="clear-completed">Supprimer cochées</button>
  </footer>
</section>
<section *ngIf="todoListService.observable|async as todoList">
  <app-todolist-qrcode [data]="stringifyData(todoList)"></app-todolist-qrcode>
</section>

