<section class="todoapp">
  <header class="header">
    <h1></h1> <!-- Le label de la liste -->
    <form (submit)="addTodo()">
      <input  [(ngModel)]= "todoInputValue"
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus #lab/>
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />.
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list" *ngIf="currentFilter()|async as todoList">
      <app-todo-item *ngFor="let todo of todoList.items" [todo]="todo" (deleteEmitter)="deleteTodo($event)" (updateEmitter)="updateTodo($event, todo)"></app-todo-item>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"*ngIf="todoListService.observable|async as todoList">
      <strong>{{getTodoRemainsNumber(todoList.items)}}</strong>
      restantes</span>
    <ul class="filters">
      <li>
        <a (click)="currentFilter = filterAll" class="filterAll">Tous</a>
      </li>
      <li>
        <a class="filterActives">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted">Complétés</a>
      </li>
    </ul>
    <button class="clear-completed">Supprimer cochées</button>
  </footer>
</section>
