.control-buttons {
  font-size: 350%;
}

.manage-undo-redo:hover {
  cursor: pointer;
}

.manage-undo-redo:disabled {
  color: gray;
  opacity: 50%;
}

.control-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
