<li [class.editing]="editing" [class.completed]="todo.isDone">
  <div class="view">
    <input [checked]="todo.isDone"
           class="toggle"
           type="checkbox"
           name="done"
           (change)="updateDone($event)"
    />
    <label *ngIf="!editing" (dblclick)="toggleMode()" class="texte">{{todo.label}}</label>
    <button (click)="delete()" class="destroy"></button>
  </div>

  <input
    #newTodoItemInput
    [(ngModel)]="newValue"
    name="newTextInput"
    class="edit"
    type="text"
    [value]="todo.label"
    [tabIndex]="100"
    (focusout)="updateValue()"
    autofocus
  />
</li>
